<%- include('layouts/header.ejs') %>
    <h1 class='my-2 mx-2'>Edit user(<%= user.name %>)</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto mt-4">
                <form action="/edit/<%= user.id %>" method="post">
                    <div class="form-group">

                        <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="<%= user.name %>">
                        <input type="email" name="email" class="form-control mt-4" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="<%= user.email %>">
                    </div>

                    <div class="form-group">
                        <input type="number" name="number" class="form-control mt-4 mb-4" id="exampleInputPassword1"
                            value="<%= user.phone %>">
                    </div>
                    <div class="form-group">
                        <input type="file" name="image" class="form-control mb-4" id="exampleInputPassword1"
                            name="Image" placeholder="Image">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('layouts/footer.ejs') %>